Repository LiskHQ/lisk-docs, pull requests merged in 2023-03, with the labels that each got.

#1755 Update status `failed` to `fail`
  modules/ROOT/pages/references/migration.adoc
Labels: component: sdk

#1758 Update `api` section's terminologies - Closes 1743
  docs/modules/ROOT/pages/api/lisk-node-rpc.adoc
Labels: component: lisk

#1759 Update terminology in the introduction category
  docs/modules/ROOT/pages/intro/blockchain-scalability.adoc
  docs/modules/ROOT/pages/intro/how-blockchain-works.adoc
  docs/modules/ROOT/pages/intro/lisk-products.adoc
  docs/modules/ROOT/pages/intro/what-is-blockchain.adoc
Labels: type: update, component: lisk
